<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello World</h1>
    <p>Welcome to <%= title %></p>
    <form action="homepage" method="post">
        <p>
            <span>id:</span>
            <br>
            <input id="id" name="id" type="text">
        </p>
        <p>
            <span>name:</span>
            <br>
            <input id="name" name="name" type="text">
        </p>
        <p>
            <span>age:</span>
            <br>
            <input id="age" name="age" type="text">
        </p>
        <p><input type="submit" value="submit"></p>
    </form>
  </body>
</html>
